html, body {
  margin: 0;
  background-color: transparent;
  color: blue;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin: 0;
  height: 100%;
  line-height: 1;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  gap: 0px;
}

.section {
  padding: 60px;
  border-radius: 0px;
}


.section.two a mark{
  color: blue;
  text-decoration: none; 
  background-color: white;
}

.section.one {
  background-image: url("images/oldbird7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

mark {
  background-color: white;
  color: blue;
  padding: 0;   
}

.home-button {
  display: inline-block;         
  padding: 0px;   
  color: blue; 
  background-color: white;
  text-decoration: underline;                                 
  font-weight: bold;
  text-align: center;
  size: 15px;
  transition: background-color 0.3s;
}

.home-button:hover {
  color:green;
  size: 20px;
}

@media (max-width: 700px) {

  .grid {
    min-height: 100vh;  
    grid-template-columns: 1fr;   /* Stack everything vertically */
  }

  .section {
    padding: 30px;               /* Reduce large padding for small screens */
  }

  body {
    background: red;
    font-size: 16px;             /* Slightly smaller base font */
    line-height: 2.2;
  }

  .section.one,
  .section.three {
    display: none;
  }

}